* {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
}

body {
  background-image: linear-gradient(50deg, #200122, #6f0000);
  background-repeat: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.container {
  width: 20vw;
  height: 90vh;
  background: white;
  margin-top: 2%;
  border-radius: 15px;
  -webkit-box-shadow: 10px 5px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 10px 5px 30px 0 rgba(0, 0, 0, 0.25);
  position: relative;
}

.top_section {
  width: 100%;
  height: 45%;
  background: #182848;
  border-radius: 14px;
  position: relative;
}

.value_screen {
  width: 100%;
  height: 40%;
  background: white;
  border-radius: 14px;
  -webkit-box-shadow: inset 0px 3px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: inset 0px 3px 20px 0 rgba(0, 0, 0, 0.25);
}

.progress_container {
  width: 100%;
  height: 60%;
  background: #182848;
  border-bottom-left-radius: 14px;
  border-bottom-right-radius: 14px;
  -webkit-box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.25);
}

.middle_section {
  width: 100%;
  height: 45%;
  border-bottom: 1px solid #182848;
  border-bottom-right-radius: 14px;
  border-bottom-left-radius: 14px;
  position: relative;
  -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);
}

.power_model, .gadget_model, .model_selection_reference {
  width: 90%;
  height: 20%;
  position: relative;
  margin: 12px;
  background: white;
  border-radius: 14px;
  -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
  transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms;
  transition: transform 300ms, box-shadow 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
}

.power_model:hover, .gadget_model:hover, .model_selection_reference:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
}

@media (max-width: 767px) {
  * {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  }
  body {
    background-image: linear-gradient(50deg, #200122, #6f0000);
    background-repeat: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .container {
    width: 45vw;
    height: 90vh;
    background: white;
    margin-top: 2%;
    border-radius: 15px;
    -webkit-box-shadow: 10px 5px 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 10px 5px 30px 0 rgba(0, 0, 0, 0.25);
    position: relative;
  }
  .top_section {
    width: 100%;
    height: 45%;
    background: #182848;
    border-radius: 14px;
    position: relative;
  }
  .value_screen {
    width: 100%;
    height: 40%;
    background: white;
    border-radius: 14px;
    -webkit-box-shadow: inset 0px 3px 20px 0 rgba(0, 0, 0, 0.25);
            box-shadow: inset 0px 3px 20px 0 rgba(0, 0, 0, 0.25);
  }
  .progress_container {
    width: 100%;
    height: 60%;
    background: #182848;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
    -webkit-box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.25);
  }
  .middle_section {
    width: 100%;
    height: 45%;
    border-bottom: 1px solid #182848;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    position: relative;
    -webkit-box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.25);
  }
  .power_model, .gadget_model, .model_selection_reference {
    width: 90%;
    height: 20%;
    position: relative;
    margin: 12px;
    background: white;
    border-radius: 14px;
    -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
    transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
  }
  .power_model:hover, .gadget_model:hover, .model_selection_reference:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
  }
  .gadget_model {
    width: 90%;
    height: 20%;
    position: relative;
    margin: 12px;
    background: white;
    border-radius: 14px;
    -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
    transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
  }
  .gadget_model:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
  }
  .model_selection_reference {
    width: 90%;
    height: 20%;
    position: relative;
    margin: 12px;
    background: white;
    border-radius: 14px;
    -webkit-box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 2px 20px 0 rgba(0, 0, 0, 0.25);
    -webkit-transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
    transition: -webkit-transform 300ms, -webkit-box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms;
    transition: transform 300ms, box-shadow 300ms, -webkit-transform 300ms, -webkit-box-shadow 300ms;
  }
  .model_selection_reference:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
    -webkit-box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 30px 0 rgba(0, 0, 0, 0.25);
  }
}
/*# sourceMappingURL=style.css.map */